<h1>Loan Payment Calculator</h1>
<form action="/payment/result" method="post">
  <label for="apr">APR:</label>
  <input type="text" id="apr" name="apr" placeholder="E.g. 5.42"><br>

  <label for="years">Number of years:</label>
  <input type="text" id="years" name="years" placeholder="How many years to repay?"><br>

  <label for="principal">Principal:</label>
  <input type="text" id="principal" name="principal" placeholder="How much principal?"><br>

  <button type="submit">Calculate monthly payment</button>
</form>
