<h1>Random Number Picker</h1>
<form action="/random/result" method="post">
  <label for="min">Minimum:</label>
  <input type="text" id="min" name="min" placeholder="E.g. 1.5"><br>

  <label for="max">Maximum:</label>
  <input type="text" id="max" name="max" placeholder="E.g. 4.5"><br>

  <button type="submit">Pick random number</button>
</form>
